<section class="b-search">
	<div class="search-inner">
		<a href="index.html" class="search-back-btn" title="Back"></a>
		<form class="search-form">
			<input type="text" name="search" class="search-input" placeholder="Search">
		</form>	
		<h2 class="search-title">Search Suggestions</h2>
		{{> tags_list }}
	</div>
</section>