<section class="b-search-results">
	<h2 class="search-results-title">Search Suggestions</h2>
	<ul class="search-results-list">
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
		<li class="search-results-item">
			<img class="search-results-img" src="http://via.placeholder.com/640x810/C4C4CD/ffffff?text=+" width="640" height="810"></img>
		</li>	
	</ul>
</section>