<ul class="b-tags-list">
	<li class="tag">
		<button class="tag-btn js-btn" type="button">V Neck</button>
	</li>
	<li class="tag">
		<button class="tag-btn js-btn" type="button">Cocktail Dress</button>
	</li>
	<li class="tag">
		<button class="tag-btn js-btn" type="button">Cardigan</button>
	</li>
	<li class="tag">
		<button class="tag-btn js-btn" type="button">Mini Skirt</button>
	</li>
</ul>