// Color-Variables

// Color Palette

$color-01: #08080A; // equivalent to black
$color-02: #9696A1; // dark grey
$color-03: #C4C4CD; // middle grey
$color-04: #DFDFE8; // light grey
$color-05: #F9F9FB; // equivalent to white

// Transparent-Color
$transparent: rgba(255, 255, 255, 0); // for IE9 animation
